.intro,
.contact {
  height: 650px;
}
h1 {
  font-family: "Rowdies", cursive;
}
p {
  font-family: "Rowdies", cursive;
}
.intro {
  background-color: skyblue;
}

.project-cards {
  padding-top: 5%;
  padding-bottom: 3%;
  width: 100%;
}

#name_job {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: calc(50% - 116.25px);
  top: calc(17.5% - 65px);
  z-index: 18;
}

.heading-projects {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: calc(50% - 71.969px);
}

.heading-contact {
  position: absolute;
  width: fit-content;
  height: fit-content;
  left: calc(50% - 104.9455px);
}

.intro {
  text-align: center;
}

.homeButton {
  height: fit-content;
  margin-bottom: 0;
  padding: 10px 10px;
  background-color: rgb(9, 186, 245);}
.links-contact,
.links-projects {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-weight: 600;
  background-color: lightsteelblue;
}



/* .links-contact:hover,
.links-projects:hover{
  text-decoration: underline;
  text-decoration-thickness: 100px;
  text-decoration-color: blue;
  color: red;
} */

.links-projects {
  margin-right: 15px;
}
.links-contact {
}

.ground {
  padding-top: 220px;
}

.strip1 {
  height: 20px;
  background: #41980a;
}

.strip2 {
  height: 20px;
  background: #947352;
}

.strip3 {
  height: 20px;
  background: #704f38;
}
.strip4 {
  height: 20px;
  background: #52392f;
}
.tree {
  height: 350px;
  z-index: 20;
}
.beaver {
  position: relative;
  width: 94.13px;
  top: 140px;
  transform: scaleX(-1);
}
.badger {
  position: relative;
  width: 94.13px;
  top: 150px;
}
.sun {
  position: absolute;
  left: calc(50% + 200px);
  top: 15%;
}
.rotate {
  animation: rotation 16s infinite linear;
  height: 175px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.pulsate {
  animation: pulsate 2.5s infinite;
  overflow: hidden;
}
@keyframes pulsate {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.95);
  }
}
.cloud1 {
  position: absolute;
  height: 55px;
  left: 15%;
  top: 25%;
  z-index: 17;
}
.cloud2 {
  position: absolute;
  height: 55px;
  right: 15%;
  top: 12.5%;
  z-index: 17;
}
@media (max-width: 796px) {
  img#optionalstuff {
    display: none;
  }
}
